@use "../../../../../../node_modules/include-media/dist/_include-media" as *;
@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.menuBlock {
  padding: 10px;
  background-color: $white;
  box-shadow: 0 0 4px #bdbdbd;

  .menu {
    @include flex;
    @include flexRow;
    justify-content: space-around;
    gap: 5;
    flex-wrap: nowrap;

    .item {
      position: relative;
      width: 25px;
      height: 25px;

      .link {
        @include link;
      }
    }
  }
}
