@use "../../../styles/vars" as *;
@use "../../../styles/_mixins" as *;

.informer {
  padding: $paddingMiddle;
  border-radius: $borderRadiusSmall;

  &.success {
    color: $success;
    background-color: $successBackgroundColor;
  }

  &.error {
    color: $error;
    background-color: $errorBackgroundColor;
  }

  &.info {
    color: $black;
    background-color: $white;
  }
}
