@use "../../../styles/vars" as *;
@use "../../../styles/_mixins.scss" as *;

.title {
  @include h1;
  padding-bottom: 30px;
}

.list {
  @include flex;
  @include flexRow;

  .item {
    position: relative;
    @include width;

    .link {
      @include link;
    }
  }

  .wrap {
    @include flex;
    @include flexColumn;
    padding: 0 10px;
  }
}
