@use "../../../styles/vars" as *;
@use "../../../styles/_mixins/" as *;

.input {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid $borderColor;
  border-radius: $borderRadiusSmall;
  background-color: $white;
  outline: none;
  cursor: pointer;

  &:focus {
    border-color: $borderColorFocus;
  }

  &.invalid {
    border-color: $red;
  }
}
