@use "../../../../../../node_modules/include-media/dist/_include-media" as *;
@use "../../../styles/_vars.scss" as *;
@use "../../../styles/mixins" as *;

.wrap {
  @include flex;
  justify-content: start;
  align-items: center;
  height: 26px;
  gap: 7px;

  .icon {
    @include flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: initial;

    &.like {
      background-color: $red;
    }

    &.notLike {
      background-color: initial;
    }
  }
}
