@use "../../../styles/vars" as *;
@use "../../../styles/_mixins" as *;

.button {
  position: relative;
  padding: 8px 15px;
  border: none;
  border-radius: $borderRadiusSmall;
  color: $buttonColor;
  background-color: $buttonBackgroundColor;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $buttonHover;
  }

  &:active {
    background-color: $buttonActive;
  }

  &.disabled {
    color: #d9d9d9;
    background-color: #929292;
    pointer-events: none;
  }

  &.loading {
    @include loader($borderWidth: 3px, $size: 20px, $color: $white);
    border: none;

    .text {
      opacity: 0;
    }
  }

  &.view-reset {
    border: none;
    padding: 0;
    background-color: $white;
    color: $black;

    &:hover,
    &:active {
      background-color: initial;
      color: initial;
    }
  }
}
