@use "./vars" as *;
@use "../../../../node_modules/include-media/dist/_include-media" as *;

@mixin link($color: $black, $hoverColor: $grey) {
  color: $color;
  transition: color 200ms ease;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &:hover,
  &:active {
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}

@mixin h3 {
  font-size: 18px;
  font-weight: bold;
}

@mixin flex {
  display: flex;
  gap: 20px;
}

@mixin flexColumn {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

@mixin flexRow {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
}

@mixin grid {
  display: grid;
  gap: 5px;
  align-items: start;
}

@mixin gridColumn {
  grid-template-columns: 1fr 1fr;
}

@mixin width {
  width: 33vw;
}

@mixin button {
  padding: 8px 15px;
  border: 1px solid $buttonBackgroundColor;
  border-radius: $borderRadiusSmall;
  color: $buttonColor;
  background-color: $buttonBackgroundColor;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $buttonHover;
  }

  &:active {
    background-color: $buttonActive;
  }

  &.disabled {
    color: #d9d9d9;
    background-color: #929292;
    pointer-events: none;
  }
}

@mixin hidden {
  visibility: hidden;
  opacity: 0.5;
  transform: translateX(-100%);
  transition: 0.3s ease-out;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: 0.3s ease-out;
}
