$breakpoint: "<=900px";
$breakpointMin900: ">=900px";

$borderChek: "1px solid $red";

$defaultFontFamily: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
$defaultFontSize: 14px;

$defaultLineHeight: 1.2;
$paddingMiddle: 10px;
$borderRadiusSmall: 4px;

$white: #fff;
$grey: #d5d5d7;
$black: #000;
$blue: #00c;
$red: #631717;
$green: #3c5422;

$defaultBackgroundColor: $white;
$defaultTextColor: $black;

$success: #2b6d2b;
$successBackgroundColor: #d7ffd7;
$error: $red;
$errorBackgroundColor: #ffd1d1;

$borderColor: $grey;
$borderColorFocus: $black;

$buttonColor: $white;
$buttonBackgroundColor: $green;
$buttonHover: rgb(73, 114, 35);
$buttonActive: #3c5422;
